#left-col {
  padding-right: 0;
}

#right-col {
  padding: 0;
}

.right-row{
  margin: 0;
}



@media (min-width: 768px) {
  #top{
  height: 100px;
  }

  #title{
    height: 150px;
    background-color: #FFCC00;
  }
}