/*Mobile Style Sheet*/

  #title{
    height: 7rem;
    background-color: #FFCC00;
    text-align: center;
  }

  #surname{
    margin:11px 0px 0px 0px !important;
  }

  .skills-block{
    margin-left: 2rem;
    border-bottom: 1px solid black !important;
    padding-bottom: 10px;
    width: 80%;
  }

  .skills-block-p{
    margin-left: 2rem;
    width: 87%;
  }

  #about{
    margin-top: 2rem;    
  }

  .years{
    margin-left: 40px;
    font-weight: bold;
    font-size: 0.85rem;
  }

  .job-pos{
    font-weight: bold;
    font-size: 0.85rem;
  }

  .company{
    font-size: 0.85rem;    
  }

  .software-title{
    font-size: 0.85rem;
  }

  .progress-row{
    margin-bottom: 5px;
  }

  .progress-color{
    background-color: #222126;    
  }

  .context{
    background-color: #222126;
  }

  #education{
    margin-top: 2rem;    
  }

  .padding-corrector{
    padding-right: 0px;
  }

  .context-title{
    margin-top: 2rem;
    margin-left: 2rem;
    color: white;
    border-bottom: 1px solid  #FFCC00 !important;
    padding-bottom: 10px;
    width: 80%;
  }

  .mayor{
    color: white;
    margin-left: 40px;
    font-weight: bold;
    font-size: 0.85rem;
  }

  .college{
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
  }

  .college-years{
    color: white;
    font-size: 0.85rem;    
  }

  .reference-data{
    color: white;
    font-size: 0.75rem;      
  }

  .right-back{
    background-color: #292B2F;
  }

  .left-back{
    background-color: #FFCC00;
  }

  .personal-data-style{
    margin-top: 2px;
  }

  #personal-data-block{
    margin-top: 1rem;
  }

@media (max-width: 768px) {  
/*corrige el padding heredada de la clase row de bootstrap/corrects a inherited padding from row class of bootstrap*/
  .corrector{
    margin-right: 0px;
  }

  /*Tuve que especificar el tamaño para h3 pues el heredado de bootstrap se rompio/ i had to particularly specify h3 size because the one inherited by bootstrap crushed*/

  h3{
    font-size: 1rem;
  }


  #left-col {
    background-color: white;
  }
}
/* Todo lo que es de escritorio va acá||All of desktop particularities goes here */
@media (min-width: 768px) {

  .about{
    margin-bottom: 1rem;
  }

  #title-md{
    background-color: #FFCC00;
  }

  #left-col {
  padding-right: 0;
  }

  #right-col {
    padding: 0;
  }

  .right-row{
  margin: 0;
  }

  #name-md{
    margin: 7px 0px 0px 45px;
  }

  #pro-title{
    margin-left: 45px;
  }

  .mayor{
    margin-left: 0px;
    font-weight: normal;
  }

  .context-title{
    margin-top: 0rem;
  }

  #skills-block{
    margin-top: 2rem;
  }

  .skills-block{
    width: 95%;
    margin-bottom: 2rem;
  }
}